* {
    margin: 0px;
    padding: 0px;
}

#cabecera {
    width: 96%;
    height: 150px;
    padding: 2% 0%;

    background-color: #2c89cc;
}

#cabecera > div {
    width: 960px;
    height: 150px;
    margin: 20px auto;
}

#cabecera h1 {
    font: 50px bold Verdana,sans-serif;
    color: aliceblue;
}

/*
--------------
FIN DEL HEADER
--------------
*/
#menudenav {
    width: 96%;
    height: 30px;
    

    background-color: #acc9dd;
    border: 1px solid #000000;
}

#menudenav > div {
    width: 960px;
    margin: 0px auto;
    
}

#menuprincipal li {
    float: left;
    margin: 0px auto;
    padding: 5px 20px 0px 0px;

    font:21px Verdana;
    list-style: none;

}

#menuprincipal li > a {
    text-decoration: none;
}
#menuprincipal li:hover {
    background-color: #0988dd;
}

.recuperar {
    clear: both;
}
/*
------------
FIN DEL MENU
------------
*/
#parteprincipal {
    background: -webkit-linear-gradient(top, #acc9dd, #ffffff)
}

#primeraseccion {
    display: relative;
    float: left;
    width: 40%;
    margin: 1% 1% 10% 12%;

    border-radius: 10px;


    background-color: #ffffff;
}

#primeraseccion figure {
    float: left;
    width: 40px;
    margin: 10px;
    

}

#primeraseccion p {
    float: left;
}
#fecha {
    display: absolute;
    top: -20px;
    left: -50px;
}


#primeraside {
    float: left;
    width: 30%;
    margin: 1% 16% 10% 1%;

    background-color: #ffffff;
    border-radius: 10px;
}

#primeraside h3 {
    font: 20px bold Georgia,sans-serif;
    text-align: center;
}

.footerelement {
    float: left;
    margin: 20px auto;
    padding: 10%;

}

footer {
    width: 96%;

    background-color: #2c89cc;
}

footer div {
    width: 900px;
    height: 200px;
    margin: 20px auto;
    background-color: #acc9dd;
    border-radius: 10px;
}
